$main: #9851cc;
$secondary: #3a3a3a;
$background: #121212;
$animation-1:#e87477;
$animation-2:#209e01;
$white: #fff;
$dark-gradient: linear-gradient(
  to right,
  rgba(18, 18, 18, 0.7),
  rgba(18, 18, 18, 0.7)
);
