.wrapper{
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
}

.section-heading{
    margin-bottom: 3rem;
    letter-spacing: .1rem;
    font-weight: 300;
    font-size:3.4rem;
    text-transform: capitalize;
    text-align: center;

    &--g{
        margin-bottom: 0;
    }
}

.section-padding{
    padding: 4rem 2rem;
}


.mb{
    margin-bottom: 6rem;
}





@media(min-width:768px){
    .section-heading{
        font-size: 4rem;
    }
    .section-padding{
        padding: 8rem 2rem;
    }

}

@media(min-width:992px){

    .section-heading{
        font-size: 5rem;
    }
    .mb{
        margin-bottom: 8rem;
    }
}